@model  List<AbidzarFrm.Rukuntangga.Entities.TbTanyaRtRow>
@using AbidzarFrm.Modules.Common.Helpers

@{
    ViewData["Title"] = "Tanya RT";
}

@{
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-3">
                    <div class="box box-warning direct-chat direct-chat-warning">
                        <div class="box-header with-border">
                            <h3 class="box-title">Subject</h3>
                            <div class="box-tools pull-right">
                                <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                                <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                            </div>
                        </div>
                        <div class="box-body">
                            <div class="direct-chat-messages" style="height:450px;">
                                @foreach (var item in Model)
                                {
                                    var userImage = (string.IsNullOrEmpty(item.KtpPhotoKtp)) ? "../../Content/adminlte/img/avatar0.png" :
                                        VirtualPathUtility.ToAbsolute("~/upload/") + item.KtpPhotoKtp;
                                    <div class="direct-chat-msg right">
                                        <div class="direct-chat-info clearfix">
                                            @*<span class="direct-chat-name pull-right">@CurrentSession.Ktp().Nama</span>*@
                                            <span class="direct-chat-timestamp pull-left" style="font-size:9px;">@item.DibuatTanggal.Value.ToString("dd MMM yyyy hh:mm")</span>
                                        </div>
                                        <a class="" data-toggle="modal" data-target="#AbidzarFrameModalFormEdit" href="@Url.Action("Details", "Warga", new { id = item.KtpIdKtp })">
                                            <img class="direct-chat-img" src="@userImage" alt="message user image">
                                        </a>
                                        @*<img class="direct-chat-img" src="@userImage" alt="message user image">*@
                                        <a href="javascript:SearchDetailTanyaRt(@item.Id)">
                                            <div class="direct-chat-text">
                                                @item.Judul
                                            </div>
                                        </a>
                                    </div>
                                }
                            </div>
                        </div>
                        <div class="box-footer">
                            <form action="#" method="post">
                                <div class="input-group">
                                    <input type="text" name="message" onkeypress="return CreateTanyaRtKey(event)" id="judulTxt" placeholder="Tulis Subject Baru ..." class="form-control">

                                    <span class="input-group-btn">
                                        <button type="button" onclick="CreateTanyaRt()" class="btn btn-warning btn-flat">Send</button>
                                    </span>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>


                <div class="col-md-9">
                    @Html.Partial("../../Modules/Rukuntangga/RtMenjawab/_RtMenjawabDetail")
                </div>
            </div>
        </div>
    </div>

}

<script>
    function SearchDetailTanyaRt(idTanyaRtx) {
        var path = location.origin + "/Rukuntangga/RtMenjawab/GetDetailTanyaRt/";

        $.ajax({
            data: {
                idTanyaRt: idTanyaRtx
            },
            cache: false,
            url: path,
            //traditional: true,
            //type: 'POST',
            //dataType: "json",
            async: true,
            success: function (data) {
                $("#divRtMenjawab").html(data);
            },
            error: function (jqXHR, textStatus, errorMessage) {
                console.log(errorMessage);
            }
        });
    }
    function CreateDetailTanyaRt(idTanyaRtx) {
        var path = location.origin + "/Rukuntangga/RtMenjawab/CreateDetailTanyaRt/";
        var deskripsiTxt = $("#deskripsiTxt").val();

        $.ajax({
            data: {
                idTanyaRt: idTanyaRtx,
                deskripsi: deskripsiTxt,
            },
            cache: false,
            url: path,
            //traditional: true,
            //type: 'POST',
            //dataType: "json",
            async: true,
            success: function (data) {
                $("#divRtMenjawab").html(data);
            },
            error: function (jqXHR, textStatus, errorMessage) {
                console.log(errorMessage);
            }
        });
    }
    function CreateTanyaRt() {
        var path = location.origin + "/Rukuntangga/RtMenjawab/CreateTanyaRt/";
        var judl = $("#judulTxt").val();

        $.ajax({
            data: {
                judul: judl
            },
            cache: false,
            url: path,
            //traditional: true,
            //type: 'POST',
            //dataType: "json",
            async: true,
            success: function () {
                window.location.reload();
            },
            error: function (jqXHR, textStatus, errorMessage) {
                console.log(errorMessage);
            }
        });

    }

    function CreateTanyaRtKey(e) {
        if (e.keyCode == 13) {
            CreateTanyaRt();
        }
    }

    function CreateDetailTanyaRtRtKey(e, f) {
        if (e.keyCode == 13) {
            CreateDetailTanyaRt(f);
        }
    }
</script>
