@model List<AbidzarFrm.Rukuntangga.Entities.TbJenisInformasiRow>
@using AbidzarFrm.Modules.Common.Helpers
@{
    ViewData["Title"] = "Berita";
}

@section Head {
    <script src="~/Scripts/adminlte/demo.js"></script>

    <style>
        .overflow {
            height: 50px;
            overflow: hidden;
            text-overflow: "---";
        }
    </style>
}

@{
    int index = 0;
    string indexActive = "";
    var ud = (UserDefinition)Serenity.Authorization.UserDefinition;
    List<AbidzarFrm.Rukuntangga.Entities.TbSlideShowRow> slideshowList = ud.SlideShow;
    <div class="row">
        <div class="col-md-9">
            <div class="row">
                <div class="col-sm-12">
                    <div class="input-group input-group-sm" style="margin-top:5px;margin-bottom:10px;">
                        <input type="text" id="txtInput" onkeypress="return CariBeritaKey(event)" class="form-control">
                        <span class="input-group-btn">
                            <button class="btn btn-info btn-flat" onclick="CariBerita()" type="button">Go!</button>
                        </span>
                    </div>
                </div>
            </div>
            <div class="row">
                @Html.Partial("../../Modules/Rukuntangga/Berita/_BeritaList")
            </div>
        </div>
        <div class="col-md-3">
            <div class="box box-danger">
                <div class="box-body">
                    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="1" class=""></li>
                            <li data-target="#carousel-example-generic" data-slide-to="2" class=""></li>
                        </ol>
                        <div class="carousel-inner">
                            @foreach (var item in slideshowList)
                            {
                                var img = (item.FileName == null || string.IsNullOrEmpty(item.FileName)) ? "../../Content/adminlte/img/avatar0.png" : VirtualPathUtility.ToAbsolute("~/upload/") + item.FileName;
                                indexActive = "";
                                if (index == 0)
                                {
                                    indexActive = "active";
                                }
                                <div class="item @indexActive">
                                    <img style="display:block;margin:auto;width:100%;height:150px;" src="@img">
                                    <div class="carousel-caption">
                                        @item.Deskripsi
                                    </div>
                                </div>
                                index++;
                            }
                        </div>
                        <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                            <span class="fa fa-angle-left"></span>
                        </a>
                        <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                            <span class="fa fa-angle-right"></span>
                        </a>
                    </div>
                </div><!-- /.box-body -->
            </div>
            <div class="box box-warning">
                <div class="box-header with-border">
                    <h3 class="box-title" style="color:orange; text-shadow: 1px 1px 0 rgba(0, 0, 0, .2)">Kategori</h3>
                </div>
                <div class="box-body">
                    @foreach (var item in Model)
                    {
                        <i class="fa fa-book margin-r-5"></i><a href="javascript:GetBerita(@item.Id)" style="cursor:pointer;color:black;"><strong>@item.JenisInformasi</strong></a>
                        <br />
                    }
                    <hr />
                    <i class="fa fa-book margin-r-5"></i><a href="javascript:GetTerbaru()" style="cursor:pointer;color:black;"><strong>Terbaru</strong></a>

                </div>
            </div>
        </div>
    </div>

}

<script>
    function GetBerita(idx) {
        var path = location.origin + "/Rukuntangga/Berita/GetBerita/";

        $.ajax({
            data: {
                id: idx,
            },
            cache: false,
            url: path,
            //traditional: true,
            //type: 'POST',
            //dataType: "json",
            async: true,
            success: function (data) {
                $("#divBerita").html(data);
            },
            error: function (jqXHR, textStatus, errorMessage) {
                console.log(errorMessage);
            }
        });

    }
    function GetTerbaru() {
        var path = location.origin + "/Rukuntangga/Berita/Terbaru/";

        $.ajax({
            data: {},
            cache: false,
            url: path,
            //traditional: true,
            //type: 'POST',
            //dataType: "json",
            async: true,
            success: function (data) {
                $("#divBerita").html(data);
            },
            error: function (jqXHR, textStatus, errorMessage) {
                console.log(errorMessage);
            }
        });

    }
    function GetDetail(idx) {
        var path = location.origin + "/Rukuntangga/Berita/Detail/";

        $.ajax({
            data: {
                id: idx
            },
            cache: false,
            url: path,
            //traditional: true,
            //type: 'POST',
            //dataType: "json",
            async: true,
            success: function (data) {
                $("#divBerita").html(data);
            },
            error: function (jqXHR, textStatus, errorMessage) {
                console.log(errorMessage);
            }
        });

    }

    function CariBerita() {
        var path = location.origin + "/Rukuntangga/Berita/CariBerita/";
        var txtWildCard = $("#txtInput").val()

        $.ajax({
            data: {
                wildCard: txtWildCard
            },
            cache: false,
            url: path,
            //traditional: true,
            //type: 'POST',
            //dataType: "json",
            async: true,
            success: function (data) {
                $("#divBerita").html(data);
            },
            error: function (jqXHR, textStatus, errorMessage) {
                console.log(errorMessage);
            }
        });

    }
    function CariBeritaKey(e) {
        if (e.keyCode == 13) {
            CariBerita();
        }
    }

</script>
